<div class="text-center">
  <h1> Your word is: <%= @word %></h1>
  <h1> Your grid was: <%= @grid %></h1>

  <h3>Time spent: <%= @result[:time] %>s</h3>
  <h3>your score is: <%= @result[:score] %></h3>
  <h3>Message: <%= @result[:message] %></h3>

  <%= link_to "Home", root_path %>
</div>
